main{
    padding-top: 1rem;
}

.container{
    gap: 1rem;
    text-align: center;
    padding: 2rem;
}

.container:nth-child(2n){
    padding: 0;
}

.container:nth-child(2n+1){
    background-color: rgba(0,0,0,0.05);
}

.row p, .row span{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-weight: 450;
}

.row h1{
    text-align: left;
}

.row img{
    width: 30rem;
    height: 30rem;
    object-fit: cover;
}